.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logoAP{
    width: 110px;
    padding-left: 30px;
}
.redes{
    padding-right: 20px;
}
img{
    width: 35px;
    padding-right: 10px;
}
.btn{
    border-width: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    border-color: rgb(126, 32, 32);
}

/*---Versión mobile---*/
@media (max-width: 575px){ 
.container{
    flex-direction: row;
}
.redes{
    display: flex;
    align-items: center;
}
}