<div class="row">
     <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logotipo de Argentina Programa" id="logoAP">
        </div>      
        <div class="redes">
                <a href="https://www.linkedin.com/in/jaqueline-nieva-025/"> <img src="../../../assets/linkedin.png" alt="" id="linkedin"> </a>
                <a href="https://github.com/Jaqueline-Nieva"> <img src="../../../assets/github.png" alt="" id="github"> </a>
                <a href="https://www.facebook.com/jaqueline.nieva"> <img src="../../../assets/facebook.png" alt="" id="facebook"> </a>
                <a href="https://www.instagram.com/yue.25/"> <img src="../../../assets/instagram.png" alt="" id="instagram"> </a>
                <a href="https://twitter.com/LePapillonBleu2"> <img src="../../../assets/twitter.png" alt="" id="twitter"> </a>      
                <button type="button" class="btn btn-light btn-sm btn-outline-success btn-sm btn-outline-dark btn-sm" (click)="login()">Ingresar</button>
         </div>
     </div>
</div>
