<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/foto perfil.jpg" alt="" class="img-fluid" id="fotoperfil">
</div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Jaqueline Nieva</p>
    <p>Full Stack Developer Jr.</p>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 id="titulo">Acerca de mí</h1>
        <p>Me especializo en el área de diseño. Me recibí de licenciada en Diseño y Comunicación Visual, en la Universidad Nacional de Lanús (UNLa).
         Actualmente me encuentro incursionando en el mundo de programación, ya que busco seguir desarrollándome como profesional. Mis áreas de interés son: testing, diseño ux y programación frontend.
         Además estoy realizando algunos cursos centrados en tareas de community manager y programación.</p>
    </span>
</div>

</div>

