<div class="row">
    <h1 id="titulo">Educación y formación complementaria</h1>
    <br>
    <br>
    <br>
    <div class="co-lg-1"></div>
    <div class="col-lg-11">
      <ul>
          <li>
              <h2>Licenciatura en Diseño y Comunicación visual  </h2> <h4>(2022 Mayo - Actualidad)</h4>
         </li>
         <p>
                  
         </p>
      </ul>
      <ul>
          <li>
              <h2>Diseñadora audiovisual  </h2><h4>(2021 - Actualidad)</h4>
         </li>
         <p> Realizo edición de videos para redes sociales.        
         </p>
      </ul>
      <ul>
          <li>
              <h2>Diseñadora audiovisual  </h2> <h4>(2018 - Actualidad)</h4>
         </li>
         <p>
          Cubro eventos como parte de prensa del Centro Unificado
  de Comando y Control de Lanús (donde saco fotos, grabo
  y edito vídeos) para las redes sociales de la Subsecretaría
  de Seguridad y Emergencias de Lanús.       
         </p>
      </ul>
      <ul>
          <li>
              <h2>Diseñadora freelance  </h2><h4>(2015 - Actualidad)</h4>
         </li>
         <p>
          Realizo trabajos de diseño gráfico: de tarjetería (para
  fiestas y personales), logotipos, identidad visual y
  elementos para diseño web.      
         </p>
      </ul>
      <ul>
          <li>
              <h2>Profesora de diseño  </h2><h4>(2017)</h4>
         </li>
         <p>
          Clases de programa de paquete Adobe (Illustrator,
  Indesign y Photoshop) en la Fundación UOCRA (Unión
  Obrera de la Construcción de la Republica Argentina),
  Centro de Formación Profesional N° 401 "Nicolás
  Avellaneda".     
         </p>
      </ul>
    </div>
  </div>
  
