<div class="row">
    <h1>Proyectos realizados</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="contenedor">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Blog de cocina</h3>
        <p>Diseño de un recetario (con formato de blog), con herramientas básicas de HTML y CSS. Fue uno de los proyectos de prueba que realice en mis primeras instancias programando.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/BlogCocina.png" alt="" class="img-fluid img-proyecto">
      </div>
      <br>
      <br>
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Landing Page sobre empresa gastronomica</h3>
        <p>Prueba de diseño de frontend para una hipotetica empresa gastronomica.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/LandingGastronomica.png" alt="" class="img-fluid img-proyecto">
      </div>
      <br>
      <br>
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Filtro de libros</h3>
        <p>Prueba de página, donde se colocan los autores (especificados en la página de inicio cuales son los autores cargados) y aparece una selección de libros de su autoria.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/FiltroDeLibros.png" alt="" class="img-fluid img-proyecto">
      </div>
      <br>
      <br>
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Landing Page sobre empresa de marketing</h3>
        <p>Prueba de diseño de frontend para una hipotetica empresa de marketing y diseño. En este proyecto teniamos que realizar el diseño lo más similar a la imagen de referencia aportada.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/LandingPoderio.png" alt="" class="img-fluid img-proyecto">
      </div>
      <br>
      <br>
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Canal del clima</h3>
        <p>Página donde se puede averiguar el clima, mediante una API. Se puede observar el ejemplo con la ciudad de Lanús.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/CanalDelClima.png" alt="" class="img-fluid img-proyecto">
      </div>

    </div>

</div>