<div class="row">
    <h1 id="titulo">Educación y formación complementaria</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="co-lg-1"></div>
    <div class="col-lg-11">
      <ul>
          <li>
              <h2>Licenciatura en Diseño y Comunicación Visual  </h2> <h4>(2012 - 2021)</h4>
         </li>
         <p> Carrera realizada en la Universidad Nacional de Lanús (UNLa). Abarca diferentes aspectos y áreas del diseño, como diseño audiovisual, diseño web y fotografía, centrandose principalmente en el diseño gráfico.
         </p>
      </ul>
      <ul>
          <li>
              <h2>"Testing funcional y accesibilidad web"  </h2><h4>(2022)</h4>
         </li>
         <p> Curso impartido
            por el Centro de Formación CILSA Rosario. En este curso se abordaron las bases de testing y algunas herramientas de accesibilidad para toda clase de usuarios.
         </p>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/" alt="" class="img-fluid img-proyecto">
          </div>
      </ul>
      <ul>
          <li>
              <h2>"Argentina Programa, primera etapa"  </h2> <h4>(2021)</h4>
         </li>
         <p> Curso impartido por Mumuki, del programa "Sé Programar". El alumno desarrolla una base en el área de programación.   
         </p>
      </ul>
      <ul>
          <li>
              <h2>"UX - Experiencia de usuario"  </h2><h4>(2021)</h4>
         </li>
         <p> Curso impartido por Enter Digital School. Repaso sobre que es UX y como impacta en los usuarios.
         </p>
      </ul>
      <ul>
          <li>
              <h2>"Testing QA de calidad de software"  </h2><h4>(2020)</h4>
         </li>
         <p> Curso impartido por la "Agencia de Aprendizaje a lo largo de la vida" del Ministerio de educación en el programa Codo a Codo. En el curso se aprendieron las bases de testins manual y automatizado.
         </p>
      </ul>
    </div>
  </div>
  
