<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>Landing Page</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolore doloribus molestiae, ab voluptas neque consectetur autem culpa, quas rerum animi dignissimos repellat similique incidunt dicta accusamus, beatae laudantium doloremque!</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/" alt="">
      </div>
    </div>

</div>